/* css generale */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  position:relative;
  width: 100%;
  height: 50vh;
  background-position: center;
  border: 3px white solid;
  background-size: cover;
  background-position: center;

}
.layer{
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
}
.cityName{
  position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
/* css id image background */
#NewYork{
  background-image: url("../img/NewYork.jpg");
}
#Shanghai{
  background-image: url("../img/Shanghai.jpg");

}
#London{
  background-image: url("../img/london.jpg");
  background-position: bottom;
}
