/* css generale */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}
/* css container */

.container{
  position:relative;
  width: 100%;
  height: 50vh;
  background-position: center;
  border: 3px white solid;
  background-size: cover;
  background-position: center;
}

.layer{
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
}

.cityName{
  position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 3px 3px 2px #282828;
}

.container:hover .cityName{
  color: #282828;
  text-shadow: 3px 3px 3px #A8A8A8;

}
.container:hover .layer{
  background-color: rgba(255,255,255,0.3);
}


/* css id image background */

#NewYork{
  background-image: url("../img/NewYork.jpg");
}

#Shanghai{
  background-image: url("../img/Shanghai.jpg");
}

#London{
  background-image: url("../img/london.jpg");
  background-position: bottom;
}
